@model WebApplication.ViewModels.ServicePassword.PasswordShowVM
@{
    var msg = ViewData["MasterError"];
}
<div>
    <h4>Password details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
<h4>Provide master password to decrypt your password</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Show">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MasterPassword" class="control-label"></label>
                <input asp-for="MasterPassword" class="form-control" type="password" />
                <span asp-validation-for="MasterPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Decrypt" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (msg != null)
{
    <span class="text-danger">@msg</span>
}
